/* RESET */
body {
  margin: 0px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: var(--body-background);
}

/* colors */
body {
  --body-background: #303030;
  --standout-background: #212121;
  --light-text: white;
  --light-emphasis: rgb(164, 164, 164);
  --highlight-color: rgb(0, 145, 255);
  --very-light-emphasis: #d3d3d3;
}

/* top-level containers */
.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle-section-container {
  flex: 2;
  background-color: var(--body-background);
}
.top-section-container,
.bottom-section-container {
  background-color: var(--standout-background);
}

/* top bar */
.top-section-container {
  display: flex;
  justify-content: space-between;
}
.top-left {
  margin: 10px;
}
.top-middle {
  margin: 10px;
}
.top-right {
  display: flex;
  margin: 10px;
}
.app-title {
  color: var(--light-text);
  font-size: 25px;
  cursor: pointer;
}
.sprite-title {
  color: var(--light-text);
  font-size: 20px;
}
.top-button {
  background-color: var(--highlight-color);
  margin: 0px 5px 0px 5px;
  padding: 2px 7px 0px 7px;
  border-radius: 5px;
  color: var(--standout-background);
  font-weight: bold;
}

.top-button:hover {
  background-color: var(--light-text);
  color: var(--highlight-color);
  cursor: pointer;
}

/* middle */
.middle-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.middle-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--standout-background);
}
.middle-section-right {
  flex: 2px;
}
.big-canvas {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.big-canvas-paint-can {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  cursor: url("https://img.icons8.com/color/15/000000/fill-color.png"), auto;
}

.big-canvas-pen {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  cursor: url("https://img.icons8.com/color/15/000000/pencil-tip.png"), auto;
}

.big-canvas-eraser {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  cursor: url("https://img.icons8.com/color/15/000000/eraser.png"), auto;
}

.big-canvas-eye-dropper {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  cursor: url("https://img.icons8.com/color/20/000000/map-pin.png"), auto;
}


/* frame container */
.bottom-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
}
.frame-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 5px solid var(--light-emphasis);
  border-radius: 5px;
  width: 80px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 1;
  background-color: var(--light-emphasis);
}
.frame-container.selected {
  border: 5px solid var(--highlight-color);
  background-color: var(--highlight-color);
}
.small-canvas {
  background-color: white;
  z-index: 0;
}
.small-canvas.frame {
  width: 80px;
  height: 80px;
}
.small-canvas.animation {
  width: 180px;
  height: 180px;
}
.frame-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.frame-button {
}
.frame-button-icon {
  margin-top: 5px;
  color: black;
}
.add-new-frame {
  color: var(--light-emphasis);
  text-align: center;
  padding-top: 8px;
}
.add-new-frame-button {
  color: black;
  font-size: 14px;
  background-color: var(--very-light-emphasis);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 5px;
}
.frame-cap-message {
  color: black;
}

/* main canvas */
.middle-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer-canvas {
  background-color: black;
  border-radius: 5px;
  width: 800px;
  height: 600px;
}

/* tools */
.tool-container {
  margin-top: 10px;
  align-self: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 140px;
  padding: 5px;
}
.tool-button {
  width: 40px;
  height: 40px;
  margin: 1px;
  background-color: var(--body-background);
  border-radius: 4px;
  cursor: pointer;
}

.tool-picker-icon {
  margin-top: 5px;
  margin-left: 5px;
  color: white;
}

.tool-button.selected {
  background-color: var(--highlight-color);
}

/* animation */
.animation-container {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 20px;
  border: 2px solid var(--light-emphasis);
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-emphasis);
}
.animation-canvas-container {
  margin-top: 10px;
}

.fps-range-selector-container {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 92%;
}

.fps-selector {
  -webkit-appearance: none;
  height: 16px;
  width: 120px;
  background: var(--very-light-emphasis);
  outline: none;
}
.fps-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 16px;
  height: 16px;
  background: var(--highlight-color);
}
.fps-selector::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--highlight-color);
}
.fps-display-text {
  font-size: 16px;
  margin-right: 4px;
  margin-top: 1px;
  margin-left: 2px;
}

/* layer picker */
.layer-container {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 20px;
  width: 196px;
  border: 4px solid var(--light-emphasis);
  border-radius: 5px;
}
.layer-title-row {
  background-color: var(--light-emphasis);
  display: flex;
  justify-content: space-between;
}
.layer-title-text {
  color: black;
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
}
.layer-button {
  margin-left: 3px;
  margin-right: 3px;
}
.layer-picker-checkbox {
  color: red;
  background-color: red;
}
.layer-row {
  color: var(--light-emphasis);
  background-color: var(--standout-background);
  padding-left: 3px;
  padding-bottom: 3px;
}
.layer-row.selected {
  background-color: var(--highlight-color);
  color: var(--light-text);
}

.layer-button-icon {
  margin-top: 5px;
  color: black;
}

.layer-copy-button {
  background-color: var(--light-emphasis);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 20px;
  width: 194px;
}
.layer-copy-icon {
  color: black;
  margin: 5px;
  margin-left: 10px;
}
.layer-copy-text {
  margin: 5px;
  font-size: 16px;
  color: black;
  text-align: center;
}
.layer-tool-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--light-emphasis);
}
/* navbar */
.navbar-button {
  margin: 10px;
  padding: 5px;
  background-color: var(--highlight-color);
  color: var(--light-text);
  border-radius: 5px;
}

/* homepage */

.homepage-container {
  background-color: var(--body-background);
}

.homepage-title {
  font-size: 40px;
  color: var(--light-text);
  padding: 10px;
}

.homepage-tagline {
  padding: 10px;
}
.homepage-tagline-title {
  font-size: 30px;
  color: var(--light-text);
  font-weight: bolder;
  margin-top: 15px;
  padding: 10px;
}

.homepage-tagline-desc {
  font-size: 25px;
  color: var(--light-text);
  padding: 10px;
}

.create-sprite-container {
  display: flex;
  flex-direction: column;
}

.homepage-create-sprite-button {
  width: 175px;
  height: 40px;
  background-color: var(--highlight-color);
  border-radius: 4px;
  padding: 3px;
  margin-left: 10px;
}

.homepage-create-sprite-button :hover {
  background-color: var(--light-text);
  color: var(--highlight-color);
  cursor: pointer;
}

.create-sprite-text {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
}

.sprite-example-title {
  color: var(--light-text);
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}

#sprite-examples-container {
  display: flex;
  padding: 10px;
}

.sprite-ex {
  width: 160px;
  height: 160px;
  color: var(--light-text);
  background-color: var(--standout-background);
  border: 2px solid var(--light-emphasis);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.input-name {
  background-color: var(--standout-background);
  border: none;
  color: var(--light-text);
}

.username {
  background-color: var(--body-background);
  border: 2px solid var(--light-emphasis);
  border-radius: 4px;
  color: var(--light-text);
}

.info {
  color: var(--light-text);
}